<app-menu-header></app-menu-header>

<div class="slogan-wrapper">
    <p>Marketplace for buyers and sellers who love cars</p>
    <h1>Find your next car here</h1>

    <div class="filter-wrapper">
        <div class="filter-item">
            <img src="../../../assets/images/sports-car.png">
            <select placeholder="Makes">
                <option value="" disabled selected>Makes</option>
            </select>
        </div>

        <div class="filter-item">
            <img src="../../../assets/images/sports-car.png">
            <select>
                <option value="" disabled selected>Models</option>
            </select>
        </div>

        <div class="filter-item">
            <img src="../../../assets/images/sports-car.png">
            <select>
                <option value="" disabled selected>Location</option>
            </select>
        </div>

        <div class="filter-item">
            <img src="../../../assets/images/sports-car.png">
            <input type="number" min="0" max="100" placeholder="Max price">
        </div>

        <div class="filter-item">
            <button class="button__big button__accent button__align-left-border">
                <img src="../../../assets/images/user.png" alt="">
                <span>Search</span> 
            </button>
        </div>
    </div>
</div>